
@charset "UTF-8";


/* 공통부분 - 유진 */
/* body {
	height : 100%;  
	min-height : 100%;
	background: #fffff0;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;	
	text-align : center;
} */
header {
	backgroud-color : #fffff0;
	
}
body #logo{
	padding-top : 20px;
}

#logo img{
	width : 120px;
	height : auto;
}

/* 은혜 */
.qnt {
	width: 80px;
}

.scrap option:hover{
	background: #ddd;
}

ul.fa-ul{
	padding-right: 20px;
}

section.ivory {
  background: linear-gradient(225deg, #fffff0, #007bff) !important;
}

section.scrap {
  background: linear-gradient(180deg, #fff, #343a40) !important;
}

.txt-ivory{
  color: #ffffdf;
}

.card-ivory{
  background-color: #fffff0;
  border-radius: 15px;
}

.card-blue{
  background: #0130abdd;
  border-radius: 15px;
}

div.cate{
  background: linear-gradient(to right, #fffff9, #ffffffff) !important;
  border-radius: 10px;
  padding: 10px;
}

#scrapListBtn{
	float: right;
}

section{
	margin-bottom: 150px;
}

