<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StockScrapMapper">
  <sql id="cateSearch">
    <if test="type != null">
      <trim prefix=" and (" suffix=") ">
        <choose>
          <when test='type=="category".toString()'>
            category like #{category}||'%'
          </when>
        </choose>
      </trim>
    </if>
  </sql>
  <sql id="lcate">
    <if test='cate.large != null and cate.large != "x".toString()'>
      <trim prefix=" and " >
        large = #{cate.large}
      </trim>
    </if>
  </sql>
  <sql id="mcate">
    <if test='medium != null and medium != "전체".toString()'>
      <trim prefix=" and " >
        medium = #{cate.medium}
      </trim>
    </if>
  </sql>
  <sql id="exscript">
    <if test="today != null">
      <trim prefix=" and " >
      <![CDATA[
        expire_date <= #{today}
      ]]>
      </trim>
    </if>
  </sql>
<insert id="addinven" parameterType="InventoryVO">
  insert into tbl_inventory values(seq_inventory_no.nextval, #{member_id}, #{inv_qnt}, #{barcode}, #{pname}, #{category}, #{get_price}, #{sell_price}, #{expire_date}, #{discount_rate}, 0)
</insert>
<insert id="invenSave" parameterType="java.lang.Integer">
  insert into tbl_inventory 
  select seq_inventory_no.nextval, member_id, order_qnt as inv_qnt, o.barcode AS barcode, o.pname AS pname, 
  CATEGORY, GET_PRICE, SELL_PRICE, sysdate+EXPIRE_TERM AS expire_date, DISCOUNT_RATE, '0' 
  FROM TBL_HEAD h JOIN (SELECT member_id, barcode, pname, order_qnt FROM TBL_ORDER WHERE wrap_no = #{wrap_no}) o 
  ON o.barcode = h.barcode
</insert>

<select id="ilist" parameterType="Criterion" resultType="InventoryVO">
  <![CDATA[
  select inventory_no, inv_qnt, pname, category, large, medium, discount_rate, expire_date, status 
  from (select /*+INDEX_DESC(tbl_inventory pk_inventory)*/
   rownum as rn, inventory_no, inv_qnt, pname, i.category as category, large, medium, discount_rate, expire_date, status
   from tbl_inventory i inner join tbl_category c 
   on i.category = c.category 
   where 1>0
  ]]>
  <include refid="lcate"/>
  <include refid="mcate"/>
  <![CDATA[
    and rownum <= #{pageNum}*#{amount}
    ) where rn > (#{pageNum}-1)*#{amount}
  ]]>
</select>
<select id="sclist" parameterType="Criterion" resultType="InventoryVO">
  <![CDATA[
  select inventory_no, member_id, inv_qnt, barcode, pname, category, large, medium, get_price, expire_date, status 
  from (select /*+INDEX_DESC(tbl_inventory pk_inventory)*/
   rownum as rn, inventory_no, member_id, inv_qnt, barcode, pname, i.category as category, large, medium, get_price, expire_date, status
  from tbl_inventory i inner join tbl_category c 
  on i.category = c.category 
  where 1>0
  ]]>
  <include refid="lcate"/>
  <include refid="mcate"/>
  <include refid="exscript"/>
  <![CDATA[
    and rownum <= #{pageNum}*#{amount}
    ) where rn > (#{pageNum}-1)*#{amount}
  ]]>
</select>
<select id="lcate"></select>
<select id="mcate"></select>
<update id="modqnt" parameterType="InventoryVO">
  update tbl_inventory set inv_qnt = #{inv_qnt} where inventory_no = #{inventory_no}
</update>
<insert id="addscrap" parameterType="ScrapVO">
  insert into tbl_scrap values(seq_scrap_no.nextval, #{member_id}, #{barcode}, #{pname}, #{category}, #{get_price}, sysdate, #{expire_date}, #{scrap_qnt})
</insert>
<insert id="addsclist" parameterType="java.util.List">
  insert into tbl_scrap
  select seq_scrap_no.nextval, a.* from(
  <foreach collection="list" item="ex" separator="UNION ALL">
    select #{ex.member_id} as member_id, #{ex.barcode} as barcode, #{ex.pname} as pname, 
    #{ex.category} as category, #{ex.get_price} as get_price, sysdate, 
    #{ex.expire_date} as expire_date, #{ex.scrap_qnt} as scrap_qnt from dual
  </foreach> ) a
</insert>
<select id="all" resultType="CategoryVO">
  select large from tbl_inventory i INNER JOIN TBL_CATEGORY c 
  on i.CATEGORY = c.CATEGORY group by large
</select>

<delete id="delete" parameterType="java.lang.Integer">
  delete from tbl_inventory where inventory_no = #{ino}
</delete>
<select id="totalCount" parameterType="Criterion" resultType="java.lang.Integer">
  select count(inventory_no) from tbl_inventory i inner join tbl_category c 
   on i.category = c.category where 1>0 
  <include refid="lcate"/>
  <include refid="mcate"/>
  <include refid="exscript"/>
</select>
</mapper>
