@charset "UTF-8";

div.scrollHList, div.SelectList {
	background-color: #fff;
	overflow-x: scroll;
	white-space: nowrap;
}

div.scrollHList .btn, div.SelectList .btn{
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

div.scrollHList .btn:hover, div.SelectList .btn:hover {
	background-color: #0AFFF9;
}

div.ordBorder {
	background-color: #fff;
}