@charset "UTF-8";

div.scrollHList, div.SelectList {
	background-color: #333;
	overflow-x: scroll;
	white-space: nowrap;
}

div.scrollHList .btn, div.SelectList .btn{
/* 	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none; */
}

div.scrollHList .btn, div.SelectList .btn:hover {
	background-color: #667;
}
